
.icon-circle {
    width: 40px;
    height: 40px;
}

.circle{
    border: 0.1em solid #9F938B;
    width: fit-content;
    border-radius: 50%;
    display: flex;
    padding: 10px;
}

.icon-wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 1em 0;
}

.icon-wrapper-text{
    padding-left: 1em;
}

.button-add-to-cart{
    width: 373px;
    height: 50px;
    font-family: Lato;
    font-size: 18px;
    letter-spacing: 0.05em;
    color: #4D4D4D;
    background-color: #BFABAB;
    align-self: center;
    border: transparent;
    margin-top: 57px;
}
.ui.breadcrumb .section{
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    line-height: 159.1%;
    letter-spacing: 0.05em;
    color: #4D4D4D;
}
.ui.breadcrumb {
    align-self: baseline;
    margin-bottom: 50px;
}

.description-details{
    width: 100%;
    padding: 50px;
    background-color: #F6F6F5;
    display: flex;
    flex-direction: column;
}

@media only screen and (max-width: 400px) {
    .description-details *.ui.grid>.row>[class*="eight wide"].column{
        width: 100% !important;
    }
}
