.recommended-products{
    width: 100%;
}

.products-wrapper{
    display: flex;
    flex-direction: row;
    width: 100%;
    overflow-x: auto;
}

.ui.card>.extra{
    border-top: hidden !important;
}


.ui.card>.content>.description{
    color: #4D4D4D;
}